* {
    margin:0px;
}

html {
    height: 100%;
    margin:0;
}

body  {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex:1;
    padding-bottom:80px;
}


                                /* Header TODOS las carpetas*/

div {
    font-size: 1.5rem;
    text-align: center;
    color:white;
    background-color:#202128;
 }

 .sticky {
    position:sticky;
    top:0px;
    background-color: #202128;
 }


header {
    background-color: #0097B2;
    font-size: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

header a {
    text-decoration: none;
    color:black;
    font-size:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo-ekko {
    width:150px;
    padding:0px;
    border: solid 2px black;
    border-radius: 50%;
}

.lista-navegable {
    list-style: none;
    display:flex;
}

.lista-navegable li {
    padding:15px;
    display: flex;
}

.menu-hamburguesa {
    width:60px;
}

                                        /* Footer todas las carpetas */

footer {
    background-color: #202128;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:50px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer-contacto {
    padding:5px;
    font-size:25px;
}

.datos-footer {
    padding:15px;
    font-size:20px;
}

.formulario-datos {
    display:flex;
    flex-direction: column;
    font-size: 15px;
    border: solid 2px #0097B2;
    border-radius:10px;
    align-items:center;
    justify-content:center;
    width:500px;
    margin-top:15px;
    padding:15px;
}

.boton-datos {
    background-color: #0097B2;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-top:10px;
    padding: 10px;
    border:none;
    border-radius: 10px;
}






                                            /* Body Home */




.grid-containerindex {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px 2fr 1fr;
    background-color: #202128;
    
}

.grid-containerindex-1 {
    background-color: #202128;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: 1/5;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#FAFAFA;
    
}

.grid-containerindex-2 {
    background-color: #202128;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: 1/3;
    border:solid 2px #0097B2;
    border-radius:10px;
    margin-left: 100px;
    margin-top:20px;
    margin-bottom:50px;
    }

.containerindex-titulo {
    border: solid 2px #0097B2 ;
    padding:20px;
    border-radius:10px ;
}

.texto-atencion {
     font-size: 20px;
     margin: 80px 30px 30px 30px;
}

.boton-contacto {
    background-color: #0097B2 ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin:20px;
    padding: 10px;
    border:none;
    border-radius: 10px;
    
}

.aclaracion-contacto {
   font-size: 15px;
   margin-top: 20px;
}

.grid-containerindex-3 {
    background-color: #202128;
    grid-column: 3/5;
}

.imagen-leiza {
    padding:15px;
    width:300px;
    height: 350px;
    border:#0097B2 solid 2px;
    border-radius: 10px;
    margin-top:20px;
    margin-bottom: 70px;
    border-style:dotted;
}

.imagen-cami {
    padding:15px;
    width:300px;
    height: 350px;
    border:#0097B2 solid 2px;
    border-radius: 10px; 
    border-style:dotted;   
    
}

.grid-containerindex-4 {
    background-color: #0097B2;
    grid-column: 1/5;
    margin-top: 30px;
}

.texto-entrenamiento {
    margin:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #202128;
    font-size:25px;
    padding:25px;
}

.lugar-esperando {
    margin:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #202128;

}


                                        /* BODY QUIENES SOMOS */


.grid-containerquienes{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px 2fr;
    background-color: #202128;
}

.grid-containerquienes-1 {
    background-color: #202128;
    grid-column: 1/5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding:15px;
}

.titulo-quienes {
    padding:20px;
    font-size: 40px;
}

.texto-quienes {
    padding: 10px;
    margin-bottom:30px;
    font-size: 25px;
}

.grid-containerquienes-2 {
    background-color: #0097B2 ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: 1/3;
    padding: 20px;
}

.alanyyo {
    width:350px;
    padding: 15px;
    border: solid 2px #202128;
    border-style: dotted;
    margin-bottom: 10px;
}



.grid-containerquienes-3 {
    background-color: #0097B2;
    grid-column: 3/5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

.laburando {
    width: 300px;
    padding: 15px;
    border: solid 2px #202128;
    border-style: dotted;
    margin-bottom: 22px;

}

.texto-quienes1 {
    border: solid 2px #202128;
    padding:12px;
}

.texto-quienes2 {
    padding:12px;
    border: solid 2px #202128;
    
}



                                    /* BODY SERVICIOS */


.grid-containerservicios {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 2fr 2fr;
    background-color: #0097B2;
    align-items: center;
    background-color: #202128;
}


                                     /* MUSCULACION */




.grid-containerservicios1 {
    grid-column: 1/4;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content: center;
    align-self: center;
    padding: 25px;
}

.titulo-servicios {
    font-size: 40px;
    border: solid 1px white;
    border-radius: 8px;
    padding: 10px;
    
}

                                   
.grid-containerservicios2 {
    grid-column: 1/2;
    grid-row: 2/3;
    display:flex;
    flex-direction: column;
    align-self: center;
    margin-top:15px;
    margin-left:40px;
    background-color: #0097B2;
    align-items: center;
}

.musculacion-titulo {
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-top:20px;
    border: solid 1px white;
    border-radius: 8px;
    padding: 10px;
}

 .imagen-musculacion {
    padding:20px;
    width: 500px;
    height: 250px;
    align-self: center;
}


.grid-containerservicios2texto {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 45px;
}


.texto-musculacion {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    color:white;
    align-self: center;
    border: solid 1px white;
    border-radius: 8px;
    padding: 10px;
    margin-right: 35px;
    margin-top: 90px;

}

                                        /* NUTRICION */

.grid-containerservicios3 {
    background-color:#0097B2;
    grid-column: 3/4;
    grid-row: 2/4;
    display:flex;
    flex-direction: column;
    align-self: center;
    margin-top:10px;
    align-items: center;
}

.titulo-nutricion {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    display:flex;
    color:black;
    margin-top:40px;
    margin-bottom: 10px;
    border: solid 1px black;
    border-radius: 8px;
    padding: 10px;

}

.imagen-nutricion {
    align-self: center;
    width:550px;
    height: 550px;
    padding:10px;
    
}

.texto-nutricion {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-size: 20px;
    padding:15px;
    border: solid 1px black;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
   

}


                                        /* MASAJES */

.grid-containerservicios4 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color:#0097B2 ;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left:40px;
} 

.titulo-masajes {
    display:flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    font-size: 28px;
    border: solid 1px white;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.imagen-masajes {
    padding:20px;
    width: 500px;
    height: 250px;
}


.grid-containerservicios4texto {
    grid-column: 2/3;
    grid-row: 3/4;
    
}


.texto-masajes {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    color:white;
    border: solid 1px white;
    border-radius: 8px;
    padding: 10px;
    margin-right: 75px;
    margin-left: 45px;
    margin-top: 90px;
}
