@media (min-width:1080px) and (max-width: 1347px) { 
    .grid-containerindex {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto auto;
        justify-items: center;
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    

    /* Parte de arriba */
    .grid-containerindex-1 {
        grid-column: 1 / -1;

        .containerindex-titulo {
            display:flex;
            justify-content: center;
            font-size: 2.2rem; 
            padding: 1.2rem;
            margin: 2rem 2rem;
            }
    }

    

    /* Sección izquierda */
    .grid-containerindex-2 {
        display:flex;
        flex-direction: column;
        grid-column: 1 / -1;
        padding:0;
        width:80%;
        margin: 0rem 2rem;

        .texto-atencion,
        .aclaracion-contacto {
            font-size: 1.6rem;
            padding: 1rem;
            margin: 2.3rem;
        }
    
        .boton-contacto {
            font-size: 2.2rem;
            padding: 1rem;
            display:inline;
            margin: auto;
        }
    }

    

    .grid-containerindex-3 {
        display:flex;
        flex-direction: row;

        .imagen-leiza {
            width:28rem;
            height: 30rem;
            display:flex;
            flex-direction: column;
            margin:0;
            } 
        .imagen-cami {
            width:28rem;
            height: 30rem;
            display:flex;
            flex-direction: column;
            margin-top: 10rem;
            margin-bottom:0;
            }
        }

    .texto-entrenamiento {
        display:flex;
        font-size: 2rem;
        }

    .lugar-esperando {
        width:100%;
        font-size: 2.5rem;
        }
    }
}

