@media (min-width:425px) and (max-width: 767px) {
    
footer { width:100%;

    .footer-contacto {
        font-size: 2rem ;
        padding: 1rem;
    }

    .datos-footer {
        font-size: 1.8rem;
        margin: 1rem 1rem;
    }

    .formulario-datos {
        font-size: 1.5rem;
        width:80%;

        input {
            padding: 0.5rem;
            width:85%;
            }

    .formulario-aclaraciones {
            display:none;
            }
    .input-aclaraciones {
            display:none;
            }
}

}



}