@media (min-width:375px) and (max-width: 424px) {
   
    .sticky {
        font-size: 1.2rem;
        width:100%;
        }

    header {
        flex-direction: column;
        height: auto; 
        padding: 0.8rem;
        align-items: center;
        width:100%;
        
        a {
        font-size: 1.7rem;
            }

    .logo-ekko {
        width: 200px;
    }

    .lista-navegable {
        flex-direction: column;
        justify-content: center;
        padding: 3px ;
        width:100%;
        align-items: center; 
        border-top: solid 2px #202128;

             li {
                padding: 5px; 
            }
        }
    }
}