@import '../utilities/variables';

footer {
    background-color: $color-negro;
    text-align: center;
    color: $color-blanco;
    font-size: 16px;
    font-family:$letra;
    padding:30px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-top: $color-azul solid 2px;
    



.footer-contacto {
    padding:5px;
    font-size:35px;
    border: solid 1px $color-azul;
    background-image: linear-gradient(to bottom, $color-azul);
    border-radius: 10px;
    margin-bottom:20px;
}

.datos-footer {
    padding:15px;
    font-size:25px;
    background-image: linear-gradient(to bottom,$color-negro, $color-azul);
    border: solid 1px $color-azul;
    border-radius: 10px;
    margin-bottom:20px;
}

.formulario-datos {
    display:flex;
    flex-direction: column;
    font-size: 20px;
    border: solid 2px $color-azul;
    border-radius:10px;
    align-items:center;
    justify-content:center;
    width:30%;
    margin-top:15px;
    padding:20px;


form input {
    width:250px;
    padding:5px;
    margin:8px;
    border-radius: 10px;
    font-size: 15px;
    
    &:focus {
        background-color: $color-azul;
            }
        }
    }



.boton-datos {
    background-image: linear-gradient(to right,$color-azul,$color-negro);
    color:$color-negro;
    font-family: $letra;
    font-size: 20px;
    margin-top:10px;
    padding: 12px;
    border:none;
    border-radius: 10px;
    text-decoration:none;
    transition:1s;

    &:hover {
        background-image: linear-gradient(to right,$color-azul,$color-blanco);
        color: $color-azul;
        }
    }
}

