@import '../utilities/variables';

.principal-planes {
    background-color:$color-negro ;
    display:flex;
    flex-direction: column;
    padding:30px 150px;
    font-family:$letra;
    justify-content: CENTER;

        .titulo-planes {
            padding:15px;
            font-size: 40px;
            text-decoration: underline 2px;
            }

        .oportunidad-planes {
            padding:20px;
            font-size: 30px;
            text-decoration: underline 2px;
            }

        .combos-planes{
            display:block;
            padding:15px;
            font-size: 25px;
            border: solid 2px $color-blanco;
            border-radius: 8px;
            background-image: linear-gradient(to left,$color-negro, $color-azul);
            margin:auto;
            margin-top: 10px;
            margin-bottom:10px;
            transition:2s;

                &:hover { transform:scale(1.2)};
            }

        .texto-planes{
            padding:10px;
            font-size: 22px;
            }
    }

.secundaria_planes {
    display:flex;
    justify-content: space-around;
    background-color: $color-azul;
    padding:20px;

     .planes-musculacion, .planes-nutricion, .planes-masajes {
            width:550px;
            height: 350px;
            border: solid 2px $color-negro;
            border-radius: 8px;
            border-style: dotted;
            padding:15px;
            }
}
