@import '../utilities/variables';

.contacto-pag {
    background-color:$color-azul;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:50px;

    .titulo-pag {
        font-size: 80px;
        padding:30px;
    }

    .texto-pag {
        font-size: 50px;
        padding:30px;
        margin-left: 20%;
    }

}

