 @import '../utilities/variables';

.grid-containerquienes{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px 2fr;
    background-color: $color-negro;




                                        /* PARTE DE ARRIBA DE TODO */
    .grid-containerquienes-1 {
        background-color: $color-negro;
        grid-column: 1/5;
        font-family:$letra;
        align-self: center;
        display:flex;
        flex-direction: column;

            .titulo-quienes {
            text-decoration: underline 2px;
            padding:15px;
            font-size: 35px;
            }
    
            .texto-quienes {
            padding-bottom: 15px;
            font-size: 25px;
            }
    }




                                    /* PARTE CENTRAL IZQUIERDA*/

    .grid-containerquienes-2 {
        background-color:$color-azul;
        font-family:$letra;
        grid-column: 1/3;
        padding: 20px;

        .alanyyo {
            width: 450px;
            max-width:600px;
            padding: 15px;
            border: solid 2px $color-negro;
            border-style: dotted;
            margin-bottom: 10px;
            transition:2s;

                &:hover { transform:scale(1.4)};
        }
        
        
        .texto-quienes1 {
            border: solid 2px $color-negro;
            padding: 12px;
        }
    }



                                /* PARTE CENTRAL DERECHA */

    .grid-containerquienes-3 {
        background-color: $color-azul;
        grid-column: 3/5;
        font-family:$letra;
        padding: 20px;

        .laburando {
            width: 450px;
            max-width:600px;
            padding: 15px;
            border: solid 2px $color-negro;
            border-style: dotted;
            margin-bottom: 22px;
            transition:2s;

                &:hover {transform: rotate(5deg)}
        
        }
        
        .texto-quienes2 {
            margin: 0 auto;
            padding:12px;
            border: solid 2px $color-negro;
            }
    }
}